@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 20 20 20;
    --card: 255 255 255;
    --card-foreground: 20 20 20;
    --popover: 255 255 255;
    --popover-foreground: 20 20 20;
    --primary: 147 51 234;
    --primary-foreground: 255 255 255;
    --secondary: 192 132 252;
    --secondary-foreground: 20 20 20;
    --muted: 245 245 245;
    --muted-foreground: 115 115 115;
    --accent: 233 213 255;
    --accent-foreground: 20 20 20;
    --border: 233 213 255;
    --input: 233 213 255;
    --ring: 147 51 234;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 20 20;
    --foreground: 255 255 255;
    --card: 30 30 30;
    --card-foreground: 255 255 255;
    --popover: 30 30 30;
    --popover-foreground: 255 255 255;
    --primary: 147 51 234;
    --primary-foreground: 255 255 255;
    --secondary: 192 132 252;
    --secondary-foreground: 20 20 20;
    --muted: 40 40 40;
    --muted-foreground: 150 150 150;
    --accent: 40 40 40;
    --accent-foreground: 255 255 255;
    --border: 50 50 50;
    --input: 50 50 50;
    --ring: 147 51 234;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
